<div class="about-section" id="aboutId">
  <div class="container">
    <div class="row">
      <div class="col">
        <img
          src="../../../assets/images/headmaster.jpg"
          alt="head master"
          class="header-master"
        />
      </div>
      <div class="col">
        <div class="headmaster-speach">
          <div class="quote-container left-quote">
            <img src="assets/images/quote.png" alt="quote" class="quote" />
          </div>
          <div class="speach-container">
            <p class="speach-content">
              "Dalam semangat kerja sama dan persatuan, kami berupaya
              menciptakan lingkungan belajar yang menginspirasi dan memajukan
              potensi setiap siswa. Bersama-sama, kita akan menjelajahi jalan
              ilmu pengetahuan dan kearifan, serta mempersiapkan generasi masa
              depan yang tangguh dan berakhlak mulia. Selamat datang di Islamic
              School, tempat di mana pembelajaran berkesinambungan dan kebaikan
              terus berkembang."
            </p>
          </div>
          <div class="quote-container right-quote">
            <img
              src="../../../assets/images/quote.png"
              alt="quote"
              class="quote"
            />
          </div>
          <div class="footer">
            <p class="name">Drs. Farhan bin Ibnu</p>
            <p class="role">Kepala Sekolah</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
